@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 48px;
  font-weight: 700;
}

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 42px;
    }
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 600;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  padding-bottom: 7px;
}

.container {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

.actsOfService:hover {
  cursor: pointer;
}

@media only screen and (max-width: 680px) {
  .container {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
  }
  textarea {
    width: 80vw;
  }
}
